.container{
background: #FF4DA5;
margin: 10PX 0;
padding: 90PX 0;
}
.container1{
    display:grid;
    grid-template-columns: 900px auto ;

}
.item0{color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.item1{
    background: #FF037E;   
    padding: 0px 0px 200px 0px;
    border-right: 9px solid white;
    height: 30px;
    color: wheat;
    font-size: 15px;
    font-weight: 700;
display: flex;    
/* align-items: center; */
justify-content: center;
}
.item4{
    background: rgb(133, 133, 13);
    color: white;
    margin-top: -80px;
    border: 7px solid white;
    display: flex;    
align-items: center;
justify-content: center;
}
.item2{
    background: #8b0144;   
    padding: 0 0 90px 0; 
    color:white;
     display: flex;    
    justify-content: center;;
}
.container2{
    background: #802755;
    color: white;
margin: 10PX 0;
padding: 40PX 0;
display:flex;
justify-content: center;
align-items: center;
}
